<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Admin Page</title>
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css">
  <link rel="stylesheet" href="adminpage1.css">
</head>
<body>
  <section id="admin">
    <div class="wrapper">
         <div class="outer">
            <a href="/club_participated" style="text-decoration: none;"><div class="inner">
               <h3>Clubs</h3>
            </div><a>
         </div>
         <div class="outer">
            <a href="/association_participated" style="text-decoration: none;"><div class="inner">
               <h3>Associations</h3>
            </div></a>
         </div>
         <!-- <div class = "outer">
            <div calss = "inner">
               Associations
            </div>
         </div> -->
    </div>

  </section>
</body>
</html>