<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Associations</title>
    <link rel="stylesheet" href="associations_style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" >
</head>
<body>
    
    <section id="associations">
    <div class="wrapper">
        <div class="mar">
                <div class="card" >
                        <img class="img-circle" src="images/csea.jpg"/>
                        
                         <h3 class="name">CSEA</h3>
                         <p class="text-center">Computer Science <br>  and  Engineering Association</p>
                         
                         <div class="icon-container">
                            <a href="mailto:csea@nitandhra.ac.in?" target="_blank" <i class="fa-solid fa-envelope iconstyle"></i></a>
                            <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                            <a href="https://instagram.com/csea_nitap?igshid=YmMyMTA2M2Y=" target="_blank" <i class="fa-brands fa-instagram social-icon iconstyle"></i></a>
                       </div>
                </div>       
        </div>
        <div class="mar">
            <div class="card">
            <img class="img-circle" src="images/ecea.jpg"/>
             
                     <h3 class="name">ECEA</h3>
                     <p class="text-center">Electronics and Communication Engineering Association</p>
                     <div class="icon-container">
                        <a href="mailto:ecea.nitap@gmail.com?" target="_blank" <i class="fa-solid fa-envelope iconstyle"></i></a>
                        <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                        <a href="https://instagram.com/ecea__nitandhra?igshid=YmMyMTA2M2Y=" target="_blank" <i class="fa-brands fa-instagram social-icon iconstyle"></i></a>
          
                    </div>
            </div>
        </div>
       <div class="mar">
             <div class="card">
                <img class="img-circle" src="images/eea.jpg"/>
         
                 <h3 class="name">EEA</h3>
                 <p class="text-center">Electrical Engineering Association</p>
                 <div class="icon-container">
                    <a href="mailto:eeea.nitandhra@gmail.com?" target="_blank" <i class="fa-solid fa-envelope iconstyle"></i></a>
                    <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                    <a href="https://instagram.com/eea_nit_andhra?igshid=YmMyMTA2M2Y=" target="_blank" <i class="fa-brands fa-instagram social-icon iconstyle"></i></a>
      
                </div>
             </div>
        </div>
  
   
        <div class="mar">
            <div class="card">
                <img class="img-circle" src="images/mea.jpg"/>
                 
                         <h3 class="name">MEA</h3>
                         <p class="text-center">Mechanical Engineering Association</p>
                         <div class="icon-container">
                           <i class="fa-solid fa-envelope iconstyle"></i>
                            <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                            <a href="https://instagram.com/mea_nitandhra?igshid=YmMyMTA2M2Y=" target="_blank" <i class="fa-brands fa-instagram social-icon iconstyle"></i></a>
                        </div>
                    </div>
        </div>
        <div class="mar">
            <div class="card">
            <img class="img-circle img-pr" src="images/mmea.jpg" />
               
                     <h3 class="name">MMEA</h3>
                     <p class="text-center">Metallurgical and Materials Engineering Association</p>
                     <div class="icon-container">
                        <a href="mailto:mmea@nitandhra.ac.in?" target="_blank" <i class="fa-solid fa-envelope iconstyle"></i></a>
                        <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                        <a href="https://instagram.com/mmea_nitandhra?igshid=YmMyMTA2M2Y=" target="_blank" <i class="fa-brands fa-instagram social-icon iconstyle"></i></a>
          
                    </div>
                </div>
        </div>
       <div class="mar">
           <div class="card">
                <img class="img-circle" src="images/che.jpg"/>
         
                 <h3 class="name">ChEA</h3>
                 <p class="text-center">Chemical Engineering Association</p>
                  <div class="icon-container">
                     <i class="fa-solid fa-envelope iconstyle"></i>
                    <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                    <a href="https://instagram.com/chea_nitandhra?igshid=YmMyMTA2M2Y=" target="_blank" <i class="fa-brands fa-instagram social-icon iconstyle"></i></a>
                  </div>
                
            </div>
        </div>
        <div class="mar">
            <div class="card">
                 <img class="img-circle" src="images/ce.jpg"/>
          
                  <h3 class="name">CEA</h3>
                  <p class="text-center">Civil Engineering Association</p>
                   <div class="icon-container">
                   <i class="fa-solid fa-envelope iconstyle"></i>
                     <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                     <a href="https://instagram.com/cea_nit_andhra_pradesh?igshid=YmMyMTA2M2Y=" target="_blank" <i class="fa-brands fa-instagram social-icon iconstyle"></i></a>
                   </div>
                 
             </div>
         </div>
         
         <div class="mar">
            <div class="card">
                 <img class="img-circle" src="images/bea.jpg"/>
          
                  <h3 class="name">BEA</h3>
                  <p class="text-center">Biotechnology Engineering Association</p>
                   <div class="icon-container">
                    <a href="mailto:beaofficial2k21@gmail.com?" target="_blank" <i class="fa-solid fa-envelope iconstyle"></i></a>
                     <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                     <a href="https://instagram.com/bea_nitandhra_?igshid=YmMyMTA2M2Y=" target="_blank" <i class="fa-brands fa-instagram social-icon iconstyle"></i></a>
                   </div>
                 
             </div>
         </div>
         
         
         
         
     </div>
    </section>
<script src="project.js" char="utf-8"></script>

</body>
</html>