<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clubs</title>
    <link rel="stylesheet" href="club_style.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" >
</head>
<body>
    
    <section id="club">
   
    <div class="wrapper">
        <div class="mar">
                <div class="card">
                        <img class="img-circle" src="images/E&I.png"/>
                        
                         <h3 class="name">Entrepreneurship and Innovation Cell</h3>
                         <p class="text-center">We aim at building innovative, enterprising and thereby self-reliant India. We strive to create an impact to the society by instigating a change.</p>
                         
                         <div class="icon-container">
                            <a href="mailto:eicell@nitandhra.ac.in?" target="_blank" <i class="fa-solid fa-envelope iconstyle"></i></a>
                            <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                            <a href="https://instagram.com/e_cell_nitandhrapradesh?igshid=YmMyMTA2M2Y=" target="_blank" <i class="fa-brands fa-instagram social-icon iconstyle"></i></a>
                       </div>
                </div>       
        </div>
        <div class="mar">
            <div class="card">
            <img class="img-circle" src="images/shilpi.jpg"/>
             
                     <h3 class="name">Shilpi</h3>
                     <p class="text-center">we aim to make students to gain practical hands on experience and to empower the students to become confident, articulate who will contribute as active citizens to the community.</p>
                     <div class="icon-container">
                        <i class="fa-solid fa-envelope iconstyle"></i>
                        <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                        <a href="https://instagram.com/shilpi_nitandhra?igshid=YmMyMTA2M2Y=" target="_blank" <i class="fa-brands fa-instagram social-icon iconstyle"></i></a>
          
                    </div>
            </div>
        </div>
       <div class="mar">
             <div class="card">
                <img class="img-circle" src="images/homeshresta.png"/>
         
                 <h3 class="name">Shresta</h3>
                 <p class="text-center">Our attempt is to empower the students with necessary skills and values that will make them a successful individual and a powerful contributor to the society and make India a World Leader!</p>
                 <div class="icon-container">
                    <a href="mailto:shresta@nitandhra.ac.in?" target="_blank" <i class="fa-solid fa-envelope iconstyle"></i></a>
                    <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                    <a href="https://instagram.com/shresthaclubnitandhra?igshid=YmMyMTA2M2Y=" target="_blank" <i class="fa-brands fa-instagram social-icon iconstyle"></i></a>
      
                </div>
             </div>
        </div>
  
   
        <div class="mar">
            <div class="card">
                <img class="img-circle" src="images/graphicscafe.png"/>
                 
                         <h3 class="name">Graphics Cafe</h3>
                         <p class="text-center">The ‘Graphic’ stands for creativity and ‘Cafe’ stands for connecting people.The journey to building a platform for showcasing the talents in our college.</p>
                         <div class="icon-container">
                            <a href="mailto:graphiccafe@nitandhra.ac.in?" target="_blank" <i class="fa-solid fa-envelope iconstyle"></i></a>
                            <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                            <a href="https://instagram.com/nitandhra_graphic_cafe?igshid=YmMyMTA2M2Y=" target="_blank" <i class="fa-brands fa-instagram social-icon iconstyle"></i></a>
                        </div>
                    </div>
        </div>
        <div class="mar">
            <div class="card">
            <img class="img-circle img-pr" src="images/praayatnam.png" />
               
                     <h3 class="name">Praayatnam</h3>
                     <p class="text-center">Our vision is to make people believe that they can have a safe and secure future in unconventional jobs even and they help them pursue their dreams.</p>
                     <div class="icon-container">
                        <a href="mailto:prayatnamnitandhrapradesh@gmail.com?" target="_blank" <i class="fa-solid fa-envelope iconstyle"></i></a>
                        <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                        <a href="https://instagram.com/prayatnam_nitandhra?igshid=YmMyMTA2M2Y=" target="_blank" <i class="fa-brands fa-instagram social-icon iconstyle"></i></a>
          
                    </div>
                </div>
        </div>
       <div class="mar">
           <div class="card">
                <img class="img-circle" src="images/literacy.jpg"/>
         
                 <h3 class="name">Literary and Debate</h3>
                 <p class="text-center">we aims to develop self-efficacy and confidence in students. The club looks forward to organizing events for showcasing students' artistic talents.</p>
                  <div class="icon-container">
                    <a href="mailto:literaryclub@nitandhra.ac.in?" target="_blank" <i class="fa-solid fa-envelope iconstyle"></i></a>
                    <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                    <a href="https://instagram.com/lnd_nitandhra?igshid=YmMyMTA2M2Y=" target="_blank" <i class="fa-brands fa-instagram social-icon iconstyle"></i></a>
                  </div>
                
            </div>
        </div>
        <div class="mar">
            <div class="card">
                 <img class="img-circle" src="images/Dhwani.webp"/>
          
                  <h3 class="name">Dhwani</h3>
                  <p class="text-center">The Music Club is rich in its talent, coordination and brotherhood. The Club always brings out fun and creativity from the Enthusiastic Musicians through various Events, Competitions and Workshops.</p>
                   <div class="icon-container">
                    <a href="mailto:musicclub@nitandhra.ac.in?" target="_blank" <i class="fa-solid fa-envelope iconstyle"></i></a>
                     <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                     <a href="https://instagram.com/musicclub_nitandhra?igshid=YmMyMTA2M2Y=" target="_blank" <i class="fa-brands fa-instagram social-icon iconstyle"></i></a>
                   </div>
                 
             </div>
         </div>
         <div class="mar">
            <div class="card">
                 <img class="img-circle" src="images/pnp.jpg"/>
          
                  <h3 class="name">Painting and Photography</h3>
                  <p class="text-center">PNP club promotes Photography and Painting as a hobby among scholars and makes every moment unforgettable by capturing through the lens and adding colors to each moment through the brush.</p>
                   <div class="icon-container">
                    <a href="mailto:pnpnitap@gmail.com?" target="_blank" <i class="fa-solid fa-envelope iconstyle"></i></a>
                     <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                     <a href="https://instagram.com/photographyhub_nitandhra?igshid=YmMyMTA2M2Y=" target="_blank" <i class="fa-brands fa-instagram social-icon iconstyle"></i></a>
                   </div>
                 
             </div>
         </div>
         <div class="mar">
            <div class="card">
                 <img class="img-circle" src="images/n&v.jpg"/>
          
                  <h3 class="name">Nature and <br>Value Education</h3>
                 
                  <p class="text-center">Nature and Value Education (NVE) Club promotes environmental discipline and environmental responsibility by creating awareness, motivating and by sensitizing the situation.</p>
                   <div class="icon-container">
                    <a href="mailto:nveclub@nitandhra.ac.in?" target="_blank" <i class="fa-solid fa-envelope iconstyle"></i></a>
                     <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                     <a href="https://instagram.com/natureclub_nitandhra?igshid=YmMyMTA2M2Y=" target="_blank" <i class="fa-brands fa-instagram social-icon iconstyle"></i></a>
                   </div>
                 
             </div>
         </div>
         <div class="mar">
            <div class="card">
                 <img class="img-circle" src="images/phy.jpg"/>
          
                  <h3 class="name">Physical Education</h3>
                 
                  <p class="text-center">Physical Education Club is a club that is formed to encourage students to develop a quality physical education program that emphasizes enjoyable participation in physical activities. </p>
                   <div class="icon-container">
                    <a href="mailto:peclub@nitandhra.ac.in?" target="_blank" <i class="fa-solid fa-envelope iconstyle"></i></a>
                     <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                     <a href="https://instagram.com/peclub_nitandhra?igshid=YmMyMTA2M2Y=" target="_blank" <i class="fa-brands fa-instagram social-icon iconstyle"></i></a>
                   </div>
                 
             </div>
         </div>
         <div class="mar">
            <div class="card">
                 <img class="img-circle" src="images/taskforce.jpg"/>
          
                  <h3 class="name">Task Force</h3>
                 
                  <p class="text-center">Taskforce NIT Andhra Pradesh, is a platform that provides special opportunities for the students to take part in various activities. </p>
                   <div class="icon-container">
                     <i class="fa-solid fa-envelope iconstyle"></i>
                     <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                     <a href="https://instagram.com/taskforce_nitap?igshid=YmMyMTA2M2Y=" target="_blank" <i class="fa-brands fa-instagram social-icon iconstyle"></i></a>
                   </div>
                 
             </div>
         </div>
         <div class="mar">
            <div class="card">
                 <img class="img-circle" src="images/brindavanam.jpg"/>
          
                  <h3 class="name">Brindavanam</h3>
                 
                  <p class="text-center">The Brindavanam club has a long vision in shaping the greenery of the campus. The club tries to use the vast unproductive empty land for various small scale farming so as to increase productive green cover in the campus.</p>
                   <div class="icon-container">
                     <a href="mailto:" target="_blank" <i class="fa-solid fa-envelope iconstyle"></i></a>
                     <i class="fa-brands fa-facebook social-icon iconstyle"></i>
                     <a href="https://instagram.com/brindavanam_nitandhra?igshid=YmMyMTA2M2Y=" target="_blank"  class="fa-brands fa-instagram social-icon iconstyle"></i></a>
                   </div>
                 
             </div>
         </div>
     </div>
    </section>
<script src="project.js" char="utf-8"></script>

</body>
</html>