

@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
/*clubs*/

#associations{
    font-family: "Roboto", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    /* background-color:#e5e9ed; */
     /* background-color:#e6f0ff; */
    background-color:#fff;
    padding:2%;
}
.wrapper{
    box-sizing:border-box;
    display:flex;
    /* flex-wrap:wrap; */
    flex-wrap:wrap;
    /* justify-content:space-between; */
   
    
}

.wrapper .mar .card .name{
    font-size: 18px;
    font-weight: 600 !important;
    margin-bottom: 30px;
    line-height:1.3;
    color: #6c757d;
    /* font-size:28px;
    font-weight:600; */

}

.img-circle{
    border-radius:50%;
    height:120px;
    width:120px;
    padding:3%;
    margin-bottom:10px;
}


.mar .card{
    /*font-family:helvetica nueue,Arial,Verdana,sans-serif;*/
    border-radius:10px;
    align-items:center;
    text-align:center;
    padding:2%;
    width:100%;
    height:320px;
    position:relative;
    border-style:none;
    display:inline-flex;
    /* border-style:solid; */
    /*font-family: 'Josefin Sans', sans-serif;*/
}
.mar .card:hover {
    transform:scale(1.05);
    border-style:solid;
} 
.card .text-center{
    line-height:1.5rem;
    font-size:18px;
    max-width:200px;
    /* color: #475569; */
    color: #999999;
  
}


.icon-container{
    
   position:absolute;
   bottom:0px;
}
.iconstyle{
   margin:10px 4px;
    color:deepskyblue;
    text-decoration:none;
   
}
.image-pr{
    height:100px;
    width:100px;
}
.wrapper .mar{
    
    width:25%;
    padding:5px 12px;
    margin-bottom:25px;
}
@media screen and (max-width: 900px){
	.wrapper .mar{
		width: 33.3%;
	}
	/* #kkr{
        display:inline;
    } */
}

@media screen and (max-width: 700px){
	.wrapper .mar{
		width: 50%;
	}
	
}


